#!/bin/sh
# {{ ansible_managed }}

PATH=/run/current-system/sw/bin/:$PATH
NAME_END="-wallabag.tar.gz"
WEEK_OLD_FILE="/home/{{ ansible_user }}/$(date --iso-8601 -d '-1 week')$NAME_END"

# ensure execution from ~
cd $HOME

# create today's archive
tar -czf \
	/home/{{ ansible_user }}/$(date --iso-8601)$NAME_END \
	./data/wallabag/

# Remove the week old file
if [ -f "$WEEK_OLD_FILE" ]; then
	rm $WEEK_OLD_FILE
fi
